



h1{
    font-weight: bolder !important;
    letter-spacing: 1px;
    font-size: 40px !important;
    color:#2f3640 !important;
    font-family: "Montserrat", sans-serif !important;
}
h2{
    font-weight: bolder !important;
    letter-spacing: 1px;
    font-size: 30px !important;
    color:#2f3640 !important;
    font-family: "Montserrat", sans-serif !important;
}

h4{
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 2px;
    color: #6c7a89 !important;
}
h6{
    font-weight: 400;
    letter-spacing: 1px;
    color: #2d3436!important;
    font-family: "Montserrat", sans-serif !important;
}

igx-date-picker:hover ,:focus{
    border: none !important;
}
h6{
    font-weight: bold;
}
.button{
    background-color: #6ab04c !important;
    color: #fff !important;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.arrow{
    cursor: pointer;
}
mat-form-field{
    background-color: #fff !important;
 
}


span{
    font-size: 20px;
    font-weight: bold;
    color:#2f3640 !important;
}
h6{
    font-size: 15px;
    color: #6c7a89 !important;
}
label{
    text-transform: uppercase;    
}
a{
    text-transform: uppercase;
    color:#2f3640 !important;
    font-weight: 500;
}

.card-room{
    width: 300px;
    height: 350px;
    border-radius: 15px;
}
.img-box img{
    width: 280px;
    height: 160px;
    border-radius: 15px;
}
h5{
    font-size: 20px !important;
    font-weight: 600;
    text-transform: uppercase;
    color: #2f3640;
    letter-spacing: 1px ;
}
.bed{
    font-weight: 400;
    font-size: 14px;
}
i{
 
    font-size: 12px;
}
.Room-rate{
    font-weight:bold;
    font-size: 14px;
    color: #2c2c54 !important;
}
.text{
    font-weight: 400;
    font-size: 13px;
    background-color: #f1f1fc;
    padding: 5px;
    border-radius: 2px;
}
.btn-room{
    background-color: #6ab04c !important;
    color: #fff !important;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
}
.p-button{
    background-color: none !important;
}
.text1{
    font-size: 13px;
    font-weight: 600;
    color: #2d3436;
    text-transform: uppercase;
}

.icon{
  
    font-size: 13px;
    background-color: #f1f1fc;
    padding: 12px;
    border-radius: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.number{
    font-size: 14px;
    font-weight: 500;
    color: #2c2c54 !important;
    margin-top: 5px;
}
.btn2{
    font-size: 12px !important;
    background-color: #6ab04c !important;
    color: #f1f1fc !important;
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600 !important;
 
}

.btn3{
    font-size: 12px !important;
    background-color: #2c2c54 !important;
    color: #f1f1fc !important;
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600 !important;
    
 
 
}
::ng-deep {
    .p-selectbutton .p-button.p-highlight {
      background: red !important;
      background-color: red !important;
    }
  
    .p-selectbutton .p-button.p-highlight:hover {
      background: green !important;
    }
  }

  ::ng-deep .p-selectbutton .p-button.p-highlight {
    color: #ffffff !important;
    font-weight: 700;
  }
  .btnicon{
    border: none;
    background: none;
    outline: none;
  }

  .text-danger{
    color: #ff4757 !important;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
  }